.navbar, .navbar ul, .navbar li{
    display: flex;
}

.navbar{
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

.navbar div{
    font-weight: bold;
    text-transform: uppercase;
}

.navbar li{
    position: relative;
}

.navbar li:not(li:first-child){
    margin-left: 55px;
}

.navbar li:not(li:last-child):after{
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 2px;
    height: 25px;
    background-color: var(--extraColor);
    opacity: 0.4;
}

.navbar li svg{
    margin-right: 10px;
}
