.container{
}

.releaseContainer h2{
    font-size: 2em;
    font-weight: 500;
    padding: 0 50px;
}

.releaseContainer p{
    max-width: 800px;
    margin-top: -20px;
    line-height: 1.7em;
    padding: 0 50px;
}