@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  --primaryColor: #222831;
  --secondaryColor: #393E46;
  --tertiaryColor: #00ADB5;
  --extraColor: #EEEEEE;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primaryColor);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::placeholder{
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
}

input{
  font-size: 1em;  
  font-family: 'Poppins', sans-serif;   
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

nav{
  background-color: var(--tertiaryColor);
}

a{
  text-decoration: none;
  color: var(--extraColor);
  font-weight: 600;
}

